{% if filters %}
ALTER TABLE {% if db_name %}{{db_name}}.{% endif %}{{table_name}} {% if cluster %}ON CLUSTER {{cluster}}{% endif %}
DELETE

WHERE
{% include 'included_filter_expr.jinja' %}

{% else %}
TRUNCATE TABLE {% if db_name %}{{db_name}}.{% endif %}{{table_name}} {% if cluster %}ON CLUSTER {{cluster}}{% endif %}
{% endif %}
