SELECT * FROM (
{% set nst = namespace(first=False)  %}
{% for table in tables %}

    {% if nst.first %}UNION ALL{% else %}{% set nst.first = True %}{% endif%}

    SELECT
        {% set ns = namespace(first=False)  %}
        {% for field in table['fields'] %}{% if ns.first %},
        {% else %}{% set ns.first = True %}{% endif%}{{field}}{% endfor %}

    FROM {% if db_name %}{{db_name}}.{% endif %}{{table_name}}

    {% if filters %}
    WHERE
    {% include 'included_filter_expr.jinja' %}
    {% endif %}

    GROUP BY (
        {% set ns = namespace(first=False)  %}
        {% for field in table['group_fields'] %}{% if ns.first %},
        {% else %}{% set ns.first = True %}{% endif%}{{field}}{% endfor %}
    )
{% endfor %}
)

ORDER BY (
    {% set ns = namespace(first=False)  %}
    {% for field in order_by %}{% if ns.first %},
    {% else %}{% set ns.first = True %}{% endif%}{{field}}{% endfor %}
)
